html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    background: radial-gradient(ellipse, #ffffff, rgba(0, 128, 0, 0.1));
    color: #333333;
    min-width: max-content;
    min-height: max-content;
}

input {
    -webkit-appearance: none; /* iOS 에서 기본 스타일 제거 */
    -moz-appearance: none; /* Firefox 에서 기본 스타일 제거 */
    appearance: none; /* 크로스 브라우저 대응 */
}

@media (max-aspect-ratio: 1/1) {
    .html, body {
        padding: 0 0 30px 0;
    }
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.header {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    min-width: 600px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://github.com/user-attachments/assets/dec8f977-e7d5-4c5d-a73a-6a9830af41da");
    background-size: cover;
}

.header a {
    font-size: 28px;
    color: #ffffff;
    margin-bottom: 15px;
    font-weight: bold;
}

.header h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.header label {
    font-weight: bold;
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.title {
    font-size: 24px;
    width: 100%;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.section {
    background-color: #F5F5DC;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.section2 {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.section h1, .section2 h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer h2, .section h2, .section2 h2 {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 10px;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
    min-width: max-content;
}

.row span, .row label {
    font-size: 16px;
    text-align: center;
    flex-grow: 1;
    padding: 0 5px;
    display: inline-block;
    width: 100%;
}

.row input {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}

.row :nth-child(4) {
    text-align: center;
    flex-grow: 0;
    flex-shrink: 0;
    width: 50px;
    padding-right: 10px;
}

.row :nth-child(2) {
    text-align: center;
    flex-grow: 1 !important;
}

.total-amount {
    font-size: 18px;
    font-weight: bold;
    color: #4CAF50;
}

.total-amount-negative {
    font-size: 18px;
    font-weight: bold;
    color: #F44336;
}

.remove-bt {
    background-color: transparent;
    border: none;
    color: #FF0000;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
    width: 50px;
}

.remove-button {
    background-color: #E53935;
    color: white;
    padding: 10px 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: block;
}

.remove-button:hover {
    background-color: #C62828;
}

.button {
    background-color: #4CAF50;
    color: #ffffff;
    padding: 10px 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: auto;
    display: block;
}

.button:hover {
    background-color: #45a049;
}

.footer p {
    text-align: center;
    font-size: 14px;
    color: #777777;
    margin: 30px 0;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.flex-container .section {
    min-width: 565px;
    width: 48%;
}

.post-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px auto 0 auto;
}

.post-list a div {
    word-break: keep-all;
}

.post-list a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    background: #ffffff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    width: 142px;
    text-align: center;
}

.post-list a:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.post-list img {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}

.post-list div {
    font-size: 15px;
    font-weight: bold;
    color: #333;
}

.post-list div p {
    font-weight: normal;
}

.feature {
    display: flex;
    justify-content: space-between;
}

@media (max-aspect-ratio: 1/1) {
    .feature {
        flex-direction: column;
    }
}

.feature-description {
    padding: 8px 0 10px 10px;
    width: 100%;
    word-break: keep-all;
}

.step {
    padding : 10px 0 20px 20px;
    width: 90%;
    word-break: keep-all;
}

.question {
    cursor: pointer;
    padding: 10px;
}

.answer {
    padding: 10px;
    margin: 4px;
    border-left: 1px solid #ccc;
}

.Triangle {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 8px solid black; /* ▶ 모양 */
    margin-right: 10px;
    display: inline-block;
    transition: transform 0.3s ease; /* 부드러운 회전 효과 */
}

.Triangle.rotate {
    transform: rotate(90deg);
}

.square {
    min-width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4CAF50;
    border-radius: 5px;
    color: #ffffff;
}

.shield {
    width: 60px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4CAF50;
    color: #ffffff;
    position: relative;
    top: 10px;
    border-radius: 5px;
}

.shield span {
    position: relative;
    top: 8px;
    font-size: 20px;
}

.shield::after {
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 15px solid #F5F5DC;
    border-radius: 5px;
}

.shield::before {
    content: "";
    position: absolute;
    bottom: -13px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 15px solid #4CAF50;
    border-radius: 5px;
}

@media (max-aspect-ratio: 1/1) {
    .flex-container {
        flex-direction: column;
    }

    .flex-container .section {
        width: 100%;
    }

    .post-list {
        max-width: 600px;
    }
}

/* 팝업 */
.popup-bg {
    width: 100vw;
    height: 100vh;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    background: rgb(0, 0, 30, 0.7);
    z-index: 3;
}

.popup-box {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background: #fff;
    border-radius: 20px;
}

.popup-title {
    border-bottom: 3px solid #4CAF50;
    padding: 0 0 20px 10px;
}

.close-button {
    position: absolute;
    top: 15px;
    right: 25px;
    cursor: pointer;
}

.popup-form-container {
    display: flex;
    gap: 10px;
    padding: 30px 0;
}

.popup-input {
    padding: 10px 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* 포스트 페이지 */
.person-list-description {
    font-weight: bold;
    color: #ffffff;
    font-size: 24px;
    padding: 3px 17px;
    background: #CCC;
    border-radius: 50px;
    cursor: pointer;
}

.person-list-description-view {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 0.3s ease;
    min-width: max-content;
}

.person-list-description:focus-within .person-list-description-view,
.person-list-description:hover .person-list-description-view {
    display: block;
    opacity: 1;
}