/* 폰트2 양식 */
@font-face {
    font-family: 'YOnepickTTF-Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2410-1@1.0/YOnepickTTF-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

/* 배경 */
html, body {
    margin: 0;
    padding: 0;
    color: white; /* 텍스트 내부 흰색 */
    text-shadow: 1px 1px 0 #1e3a8a, /* 오른쪽 아래 */ -1px -1px 0 #1e3a8a, /* 왼쪽 위 */ 1px -1px 0 #1e3a8a, /* 오른쪽 위 */ -1px 1px 0 #1e3a8a; /* 왼쪽 아래 */
}

::-webkit-scrollbar {
    display: none; /* 스크롤바 숨기기 (Chrome, Safari 등) */
}

.link:hover {
    text-decoration: underline;
    text-underline-offset: 10px;
}

.my-icon {
    height: 100px;
    margin-right: 8px;
}

.text-animation {
    font-family: 'YOnepickTTF-Bold', serif;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.text {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    border-right: none;
    animation: blink 0.5s step-end infinite;
}

@keyframes blink {
    0%, 50% {
        border-right: 10px solid #fff;
    }
    51%, 100% {
        border-right: none;
    }
}

.no-blink {
    animation: none;
    border-right: none;
}

.info_text {
    width: 1440px;
    font-size: 2.5rem;
}

@keyframes scrollDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

.animate-scroll {
    animation: scrollDown 1s infinite;
}

/* 기본 스타일 (1440px 미만) */
.portfolio {
    width: 1440px;
    position: relative;
    padding: 0;
    margin: 0;
}

/* 1440px 이상일 때 적용 */
@media (min-width: 1440px) {
    .portfolio {
        width: 1440px;
        position: relative;
        left: 50%;
        transform: translateX(-720px);
    }
}

.portfolio-box {
    width: 1440px;
    min-height: 920px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    margin: 0;
    padding: 0;
}

@media (max-aspect-ratio: 1/1) {
    .portfolio-box {
        height: 920px;
    }
}

.portfolio-title {
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 30px;
}

.portfolio-body {
    display: flex;
    justify-content: center;
}

.welcomeImg {
    width: 500px;
}

.my_poto {
    width: 450px;
    height: 450px;
    object-fit: cover;
    border-radius: 50%;
}

.my_introduction {
    width: 50%;
    margin-left: 50px;
}

.my_introduction div {
    font-size: 28px;
    margin-bottom: 1rem;
}

.my_introduction strong {
    font-weight: 600;
}

.github-icon {
    width: 120px;
    height: 120px;
    background: #ffffff;
    border-radius: 100px;
}

.velog-icon {
    width: 100px;
    height: 100px;
    background: #ffffff;
    border-radius: 100px;
}

img,
svg,
object {
    transition: transform 0.3s ease;
}

a:hover img,
a:hover svg,
a:hover object {
    transform: scale(1.1);
}

/* 슬라이더 버튼 스타일 */
.slider_btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    width: 45px;
    border-radius: 25px;
}

.left_btn {
    left: 10px;
}

.right_btn {
    right: 10px;
}

.projects {
    text-align: center;
}

.project {
    width: 720px;
    text-align: center;
}

.project-title {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    padding-bottom: 30px;
}

.project-container {
    position: relative;
    width: 500px;
    height: 500px;
    perspective: 1000px;
}

.project-image {
    display: inline-block;
    width: 500px;
    height: 500px;
    border-radius: 10px;
    border: 1px solid #4A6B9C;
    transition: transform 2s;
    backface-visibility: hidden;
}

.project-description {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%) rotateY(180deg);
    width: 500px;
    height: 500px;
    border-radius: 10px;
    border: 1px solid #4A6B9C;
    transition: transform 2s;
    display: flex;
    flex-direction: column;
    text-align: start;
    backface-visibility: hidden;
    text-shadow: none;
}

.project-container:hover .project-image {
    transform: rotateY(180deg);
}

.project-container:hover .project-description {
    transform: translate(-50%, -50%) rotateY(0deg);
}

.project-description h2 {
    font-size: 36px;
    padding: 10px;
    word-break: keep-all;
    border-bottom: 1px solid #4A6B9C;
}

.project-description p {
    font-size: 24px;
    padding: 10px;
    word-break: keep-all;
}

.project1 {
    background: #1e3a8a;
}

.project2 {
    background: rgb(0, 0, 30);
}

.project3 {
    background: #f9f5eb;
    color: #4D3E3E;
}

.project4 {
    background: #1e3a8a;
}

.project5 {
    background: radial-gradient(ellipse, #e0e0e0 50%, rgba(220, 255, 220));
    color: #333333;
}

.skills {
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 30px;
    gap: 10px 0;
}

.skill {
    text-align: center;
}

.skill-title {
    padding-bottom: 10px;
}

.skill-img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.gform input,
.gform textarea {
    width: 1000px;
    padding: 16px;
    color: black;
    font-size: 1rem;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.gform button {
    width: 200px;
    padding: 12px;
    background-color: #4f46e5;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.gform button:hover {
    background-color: #4338ca;
}

.mouse__follow-image {
    left: 15px;
    position: absolute;
    transition: none;
    pointer-events: none; /* 이미지가 클릭되지 않도록 */
}

/* 코드 흐름 배경 설정 */
#body1 {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    background: #1e3a8a;
    color: #4a6b9c;
    font-family: 'Courier New', Courier, monospace;
}

/* 코드 라인 공통 스타일 */
.code-line {
    position: absolute;
    width: 100%;
    white-space: nowrap;
    animation: codeFlow 20s linear infinite;
    visibility: hidden;
    color: #a9b7c6;
}

/* 문법 강조 스타일 */
.keyword {
    color: #cc7832;
    font-weight: bold;
}

.string {
    color: #6a8759;
}

.int {
    color: #00bcd4;
}

.classname {
    color: #56a8f5;
}

.field {
    color: #7f68ee;
}

.comment {
    color: #d3d3d350;
    font-weight: bold;
}

/* 코드 흐름 애니메이션 */
@keyframes codeFlow {
    0% {
        top: 100%;
        visibility: visible;
    }
    100% {
        top: -35%;
        visibility: visible;
    }
}

/* 코드 라인 배치 */
.code-line:nth-child(1) {
    animation-delay: 0s;
    left: 5%;
}

.code-line:nth-child(2) {
    animation-delay: 3s;
    left: 50%;
}

.code-line:nth-child(3) {
    animation-delay: 7s;
    left: 25%;
}

.code-line:nth-child(4) {
    animation-delay: 11s;
    left: 70%;
}

.code-line:nth-child(5) {
    animation-delay: 15s;
    left: 15%;
}

.code-line:nth-child(6) {
    animation-delay: 17s;
    left: 60%;
}

/* 2진수 코드 공통 스타일 */
.binary-code {
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
    color: #4caf50;
    white-space: nowrap;
    animation: codeFlow 5s linear infinite;
    visibility: hidden;
}

/* 2진수 라인 배치 */
.binary-code:nth-child(7) {
    animation-delay: 0s;
    left: 10%;
}

.binary-code:nth-child(8) {
    animation-delay: 0.5s;
    left: 50%;
}

.binary-code:nth-child(9) {
    animation-delay: 1s;
    left: 70%;
}

.binary-code:nth-child(10) {
    animation-delay: 1.5s;
    left: 30%;
}

.binary-code:nth-child(11) {
    animation-delay: 2s;
    left: 50%;
}

.binary-code:nth-child(12) {
    animation-delay: 2.5s;
    left: 20%;
}

.binary-code:nth-child(13) {
    animation-delay: 3s;
    left: 40%;
}

.binary-code:nth-child(14) {
    animation-delay: 3.5s;
    left: 80%;
}

.binary-code:nth-child(15) {
    animation-delay: 4s;
    left: 20%;
}

.binary-code:nth-child(16) {
    animation-delay: 4.5s;
    left: 60%;
}

.main-body {
    padding: 0;
    margin: 0;
}

/* 헤드 */
.menu-bg {
    position: fixed;
    z-index: 50;
    height: 35px;
    width: 100%;
    right: 0;
}

/* 언어 변경 */
.language-toggle {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 116px;
    height: 35px;
    top: 10px;
    left: 10px;
    border-radius: 25px;
    background: #4c51bf;
    cursor: auto;
    padding: 0 5px;
}

.language-toggle a, .language-toggle div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.language-toggle div {
    flex-grow: 1;
    text-align: center;
}

.en, .ko {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background: #1e3a8a;
    transition: background-color 0.3s;
}

.language-toggle a:hover {
    opacity: 0.8;
}

.site-views {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 116px;
    height: 35px;
    top: 55px;
    left: 10px;
    border-radius: 25px;
    background: #4c51bf;
}

/* 메뉴바 */
.menu-container {
    padding-top: 10px;
    padding-left: calc(100% - (130px * 5));
    display: flex;
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.submenu {
    display: none;
    flex-direction: column;
    gap: 10px;
}

/* 메뉴 항목 스타일 */
li button, li a div {
    width: 120px;
    height: 35px;
    background-color: #4c51bf;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
    cursor: pointer;
    font-weight: 600;
}

/* 메뉴 항목 hover 시 테두리 효과 */
.menu-item:hover, .submenu-item:hover {
    background-color: #434190;
    transform: scale(1.1);
}

/* 서브메뉴가 표시되도록 */
.submenu-container:hover .submenu {
    display: flex;
}

.menu-item:focus, .submenu-item:focus {
    outline: none;
}

.github-calendar-container {
    background-color: #1e3a8a; /* 원하는 배경색 */
    padding: 20px;
    border-radius: 12px;
    display: inline-block;
}

.github-calendar-container img {
    width: 100%;
    height: auto;
}