:root {
    /* Brand */
    --primary: #5a4398; /* var(--primary) */
    --primary-light : #ede8ff; /* var(--primary-light) */
    --primary-dark : #3b2d7a; /* var(--primary-dark) */

    /* Background */
    --bg-main: #ffffff; /* var(--bg-main) */
    --bg-sub: #f6f4fc; /* var(--bg-sub) */
    --bg-accent: #ede8ff; /* var(--bg-accent) */

    /* Text */
    --text-main: #333333; /* var(--text-main) */
    --text-sub: #777777; /* var(--text-sub) */
    --text-accent: #ffffff; /* var(--text-accent) */
    --text-danger: #ff0000; /* var(--text-danger) */

    /* Btn */
    --btn-close: #333333; /* var(--btn-close) */
    --btn-danger: #d9534f; /* var(--btn-danger) */
    --btn-toggle: #cccccc; /* var(--btn-toggle) */

    /* Border */
    --border-main: #e0dff2; /* var(--border-main) */
    --border-sub: #cccccc; /* var(--border-sub) */
}