/* 공용 */
html > body, button, input, select {
    font-family: Galmuri11, serif;
    font-weight: 800;
    margin: 0;
    padding: 0;
    font-size: 30px;
}

html > body, button {
    color: white;
}

input, select, option, textarea {
    color: black !important;
}

option {
    text-align: center;
}

input:focus {
    -webkit-user-modify: read-write-plaintext-only;
    user-modify: read-write-plaintext-only;
}

body {
    background: rgb(0, 0, 30);
}

.head {
    position: absolute;
    width: 100%;
    padding: 10px;
    z-index: 2;
}

.head-line {
    display: flex;
    justify-content: space-between;
    min-width: max-content;
    max-width: 1440px;
    position: relative;
}

.body {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 120px;
    width: 1440px;
    gap: 10px;
}

@media (min-width: 1440px) {
    .head-line, .body {
        left: 50%;
        transform: translateX(-720px);
    }
}

.link:hover {
    text-decoration: underline;
    cursor: pointer;
}

input {
    padding-left: 10px !important;
    /* background-color: transparent; */
}

input::placeholder, textarea::placeholder {
    color: #666 !important;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { /* 크롬, 사파리, 오페라 */
    color: #666;
}

input:-ms-input-placeholder, textarea::-ms-input-placeholder { /* 인터넷 익스플로러 10-11 */
    color: #666;
}

input::-ms-input-placeholder, textarea::-ms-input-placeholder { /* 엣지 */
    color: #666;
}

input::-moz-placeholder, textarea::-moz-placeholder { /* 파이어폭스 19+ */
    color: #666;
}

input:-moz-placeholder, textarea:-moz-placeholder { /* 파이어폭스 4-18 */
    color: #666;
}

.border {
    border: 3px solid rgb(174, 0, 27) !important;
    border-radius: 10px !important;
}

.logo {
    display: inline-block;
    width: 100px;
    height: 100px;
}

.title {
    font-size: 50px;
}

.menu-notify {
    align-self: flex-start;
}

.menu-notify img {
    height: 70px;
}

.button {
    display: inline-block;
    text-align: center;
    width: 180px;
    border: 3px solid;
    padding: 7px;
    background: rgb(255, 71, 48);
    border-radius: 10px;
    color: black;
}

/* 챗봇 */
.chatBot-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 120px;
    max-width: 1440px;
    margin: auto;
}

.chatBot-form-container {
    overflow: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    min-width:  840px;
    max-width: 1440px;
    height: calc(100vh - 250px);
    border: 3px solid rgb(174, 0, 27);
    padding: 10px;
    gap: 10px;
    font-size: 20px;
}

.chatBot-input-container {
    display: flex;
    gap: 10px;
}

.chatBot-input {
    flex-grow: 1;
    color: rgb(0, 0, 30);
}

.chatBot-input textarea {
    width: 100%;
    font-size: 16px;
    font-family: Galmuri11, serif !important;
    font-weight: 800 !important;
    font-size: 30px !important;
    padding: 10px;
}

.chatBot-img, .my-img {
    height: 100px;
}

.chatBot-img {
    transform: scaleX(-1);
}

.my-img {
    background: #FFFFFF;
    border-radius: 10px;
}