@charset "UTF-8";

:root {
    --vh: 1vh;
    --vw: 1vw;
}

html > body, button {
    font-family: Galmuri11, serif;
    font-weight: 800;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: calc(var(--vw) * 100);
    height: calc(var(--vh) * 100);
    /* background: RGB(0, 0, 48); */
}

.restricted_text {
    height: calc(var(--vh) * 100);
    -webkit-text-stroke: calc(var(--vh) * 0.05) white;
    z-index: 2;
    position: relative;
}

.restricted_bg {
    width: calc(var(--vw) * 100);
    height: calc(var(--vh) * 100);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.restricted_sun {
    width: calc(var(--vh) * 70);
    height: calc(var(--vh) * 70);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(calc(var(--vh) * -35), calc(var(--vh) * -35));
    border-radius: calc(var(--vh) * 70);
    z-index: 1;
    box-shadow: 0 0 calc(var(--vh) * 15) calc(var(--vh) * 5) rgba(255, 0, 0, 0.7),
    inset 0 0 calc(var(--vh) * 15) calc(var(--vh) * 5) rgba(255, 0, 0, 0.7);
}

.restricted_sun > img {
    width: 100%;
    height: 100%;
    animation: spin 10s infinite linear;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.restricted_title {
    font-size: calc(var(--vh) * 7);
    margin-bottom: calc(var(--vh) * 7);
}

.restricted_body {
    font-size: calc(var(--vh) * 2.5);
    margin-bottom: calc(var(--vh) * 4);
}

.restricted_poot {
    font-size: calc(var(--vh) * 2.5);
}

.restricted_slime {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(var(--vh) * 10);
    height: calc(var(--vh) * 10);
    border-radius: calc(var(--vh) * 3);
    z-index: 3;
    transition: left 5s, top 5s;
}

/* 세로 모드 (모바일 등에서 세로가 더 긴 경우) */
@media (orientation: portrait) {
    .restricted_text {
        -webkit-text-stroke: calc(var(--vw) * 0.05) white;
    }

    .restricted_sun {
        width: calc(var(--vw) * 70);
        height: calc(var(--vw) * 70);
        transform: translate(calc(var(--vw) * -35), calc(var(--vw) * -35));
        border-radius: calc(var(--vw) * 70);
        box-shadow: 0 0 calc(var(--vw) * 15) calc(var(--vw) * 5) rgba(255, 0, 0, 0.7),
        inset 0 0 calc(var(--vw) * 15) calc(var(--vw) * 5) rgba(255, 0, 0, 0.7);
    }

    .restricted_title {
        font-size: calc(var(--vw) * 4);
        margin-bottom: calc(var(--vw) * 7);
    }

    .restricted_body {
        font-size: calc(var(--vw) * 2.5);
        margin-bottom: calc(var(--vw) * 4);
    }

    .restricted_poot {
        font-size: calc(var(--vw) * 2.5);
    }

    .restricted_slime {
        width: calc(var(--vw) * 10);
        height: calc(var(--vw) * 10);
        border-radius: calc(var(--vw) * 3);
    }
}

/* 마우스 이펙트 */
html, body {
  cursor: url('../image/cursor/default.png'), auto;
}

body > * {
  cursor: inherit;
}

a, button {
  cursor: url('../image/cursor/pointer.png') 10 0, pointer;
}

button:active {
  cursor: url('../image/cursor/pointer.png') 10 0, pointer;
}

input, textarea {
  cursor: url('../image/cursor/text.png'), text;
}