@charset "UTF-8";

/* 공용 */
html > body, button, input, select {
    font-family: Galmuri11, serif;
    font-weight: 800;
    font-size: 3vh;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

input:focus {
    -webkit-user-modify: read-write-plaintext-only;
    user-modify: read-write-plaintext-only;
}

.body {
    width: 100vh;
    position: relative;
}

.mapBody {
    width: 100vh;
    left: 21vh;
    position: relative;
}

/* 가로(width)가 세로(height) 이상일 때 */
@media (min-aspect-ratio: 1625/1000) {
    .body {
        left: 50%;
        transform: translateX(-50vh);
    }

    .mapBody {
        left: 50%;
        transform: translateX(-60vh);
    }
}

img {
    /* mix-blend-mode: multiply; */
    /* opacity: 0.9; */

}

body {
    background: rgb(0, 0, 30);
}

input {
    padding-left: 1vh !important;
    /* background-color: transparent; */
}

input::placeholder {
    color: black !important;
}

input::-webkit-input-placeholder { /* 크롬, 사파리, 오페라 */
    color: black;
}

input:-ms-input-placeholder { /* 인터넷 익스플로러 10-11 */
    color: black;
}

input::-ms-input-placeholder { /* 엣지 */
    color: black;
}

input::-moz-placeholder { /* 파이어폭스 19+ */
    color: black;
}

input:-moz-placeholder { /* 파이어폭스 4-18 */
    color: black;
}

.bg {
    width: 100vh;
    height: 100vh;
}

.bg_img {
    width: 100vh;
    height: 100vh;
}

.bo {
    border: 1vh solid red;
}

/* 메인 키보드 */
/* 화면 조작키 영역 */
.keyboard_box {
    position: absolute;
    width: 162.5vh;
    border-radius: 1vh;
    padding: 1vh 5vh;
    pointer-events: none;
}

.keyboard_box > * {
    pointer-events: auto;
}

/* 세로(height)가 가로(width)의 배수 이상일 때 */
@media (max-aspect-ratio: 25/9) and (min-aspect-ratio: 1625/1000) {
    .keyboard_box {
        top: 101vh;
        border: 0.3vh solid rgb(174, 0, 27);
        left: 50%;
        transform: translateX(-81vh);
    }
}

@media (max-aspect-ratio: 25/9) and (max-aspect-ratio: 1625/1000) {
    .keyboard_box {
        top: 101vh;
        border: 0.3vh solid rgb(174, 0, 27);
        left: 0;
    }
}

/* 가로(width)가 세로(height)의 배수 이상일 때 */
@media (min-aspect-ratio: 25/9) or (aspect-ratio: 25/9) {
    .keyboard_box {
        bottom: 0;
        left: 0;
        width: 100vw;
    }
}

/* 화면 조작키 버튼 이미지 */
.key-img {
    border: 1vh solid rgb(174, 0, 27);
    border-radius: 13vh;
    font-size: 7vh;
    width: 13vh;
    height: 13vh;
    text-align: center;
    color: rgb(156, 163, 175);
}

/* 화면 조작키 배경 */
.keyboard {
    width: 50vh;
    height: 50vh;
    right: 0;
    position: relative;
}

/* 위쪽 버튼 위치 */
.key-Wattack, .key-up {
    left: 18.5vh;
    width: 13vh;
    height: 13vh;
}

/* 오른쪽 버튼 위치 */
.key-Dattack, .key-right {
    display: flex;
    justify-content: right;
    top: 18.5vh;
    left: 37vh;
    width: 13vh;
    height: 13vh;
}

/* 가운데 버튼 위치 */
.key-Zattack, .key-center {
    display: flex;
    justify-content: right;
    top: 18.5vh;
    left: 18.5vh;
    width: 13vh;
    height: 13vh;
}

/* 아래쪽 버튼 위치 */
.key-Sattack, .key-down {
    display: flex;
    align-items: end;
    left: 18.5vh;
    top: 37vh;
    width: 13vh;
    height: 13vh;
}

/* 왼쪽 버튼 위치 */
.key-Aattack, .key-left {
    top: 18.5vh;
    width: 13vh;
    height: 13vh;
}

/* 배경음악 */
.audioPlayer {
    left: 0;
    top: 0;
}

.play::after {
    padding-left: 1vh;
    padding-right: 1vh;
    content: "켜기";
}

.pause::after {
    padding-left: 1vh;
    padding-right: 1vh;
    content: "끄기";
}

/* 메인화면 */
.logo {
    left: 1vh;
    top: 1vh;
    width: 10vh;
    height: 10vh;
    z-index: 100;
}

.TOP3 {
    left: 70vh;
    top: 1vh;
    width: 30vh;
    height: 30vh;
}

.TOP3_img {
    width: 30vh;
    height: 30vh;
}

.TOP3_table {
    top: 6vh;
    left: 5vh;
    width: 20vh;
    height: 10vh;
    font-size: 2vh;
}

.TOP3_list_bt {
    top: 22.7vh;
    left: 16vh;
    width: 10vh;
    height: 2vh;
    font-size: 1.5vh;
}

.id {
    left: 30vh;
    top: 46vh;
    width: 40vh;
}

.pw {
    left: 30vh;
    top: 52vh;
    width: 40vh;
}

.login-checkbox {
    display: flex;
    gap: 1vh;
    left: 30vh;
    top: 57.5vh;
    padding: 0 1vh;
    font-size: 2.5vh;
    background: rgb(255, 71, 48);
    border-radius: 1vh;
}

.localStorageClear {
    right: 1vh;
    bottom: 1vh;
    cursor: url('../image/cursor/pointer.png') 30 0, pointer;
}

.id > input, .pw > input {
    padding: 0.7vh;
}

.s-button {
    text-align: center;
    border: 0.3vh solid;
    padding: 0.2vh 1vh;
    border-radius: 1vh;
    background: rgb(255, 71, 48);
    cursor: url('../image/cursor/pointer.png') 30 0, pointer;
}

.button {
    display: inline-block;
    text-align: center;
    width: 18vh;
    border: 0.3vh solid;
    padding: 0.7vh;
    border-radius: 1vh;
    background: rgb(255, 71, 48);
}

.submenu-button {
    display: inline-block;
    text-align: center;
    width: 18vh;
    border: 0.3vh solid;
    padding: 0.7vh;
    border-radius: 1vh;
    background: rgb(255, 140, 0);
}

.join_bt {
    cursor: url('../image/cursor/pointer.png') 30 0, pointer;
    left: 30vh;
    top: 36vh;
}

.login_out_bt {
    left: 51.5vh;
    top: 36vh;
    cursor: url('../image/cursor/pointer.png') 30 0, pointer;
}

.start, .start-1, .start-2, .start-text {
    width: 15vh;
    height: 15vh;
    top: 46vh;
    left: 53vh;
    cursor: url('../image/cursor/pointer.png') 30 0, pointer;
}

.start-2, .start-text {
    display: none;
}

.start-text {
    left: 1.8vh;
    top: 7vh;
    z-index: 10;
}

.arrow1 {
    left: 0;
    font-size: 4.5vh;
    transform: rotate(90deg);
}

.arrow2 {
    left: 10.6vh;
    font-size: 4.5vh;
    transform: rotate(180deg);
    background: rgb(255, 71, 48);
}

.start:hover > .start-2, .start:hover > .start-text {
    display: block;
}

.start:hover > .start-1, .start:hover > .arrow1, .start:hover > .arrow2 {
    display: none;
}

.member_name1, .member_name2 {
    -webkit-text-stroke: 0.05vh white;
    width: 20vh;
}

.member_name1 {
    font-size: 4vh;
    width: 25vh;
    left: 27vh;
    top: 45vh;
    -webkit-text-stroke: 0.05vh white;
    padding: 0.7vh;
}

.member_name2 {
    font-size: 4vh;
    width: 25vh;
    left: 27vh;
    top: 51vh;
    -webkit-text-stroke: 0.05vh white;
    padding: 0.7vh;
}

/* 점수기록 */
.scoreboard_bg {
    top: 15vh;
    left: 10vh;
    width: 80vh;
    height: 80vh;
}

.scoreboard_table {
    top: 4vh;
    left: 16vh;
    width: 45vh;
    text-align: center;
}

.scoreboard_clearTime {
    font-size: 1.5vh;
    bottom: 0;
}

.pagination {
    width: 80vh;
    top: 69.5vh;
}

.pagination > a {
    padding: 0.5vh;
    -webkit-text-stroke: 0.05vh gray;
}

.scoreboard_exit_bt {
    top: 61vh;
    left: 46vh;
    padding-right: 10vh;
}

.pagination_left {
    top: 33vh;
    left: 12vh;
}

.pagination_right {
    top: 33vh;
    left: 60vh;
}

/* 인게임 헤드 */
.loading_img {
    width: 100vh;
    height: 100vh;
}

.loading {
    left: 0;
    top: 0;
}

.loading_text {
    top: 36vh;
    left: 27vh;
    font-size: 15vh;
    -webkit-text-stroke: 0.1vh white;
}

.loading_bar {
    height: 5vh;
    left: 10vh;
    bottom: 10vh;
    background: red;
    border-radius: 0.3vh;
    transition: transform 1000s;
}

.ingame_logo {
    left: -18vh;
    top: 1vh;
    width: 16vh;
    height: 16vh;
}

.bar {
    width: 20vh;
    height: 100vh;
    top: 0;
    left: -20.5vh;
}

.door_top {
    left: 45vh;
    top: 0;
    width: 10vh;
    height: 10vh;
}

.door_bottom {
    left: 45vh;
    top: 90vh;
    width: 10vh;
    height: 10vh;
    transform: rotate(180deg);
}

.door_left {
    left: 0;
    top: 45vh;
    width: 10vh;
    height: 10vh;
    transform: rotate(270deg);
}

.door_right {
    left: 90vh;
    top: 45vh;
    width: 10vh;
    height: 10vh;
    transform: rotate(90deg);
}

.floor_room {
    left: 0;
    top: 18vh;
    width: 20vh;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.3vh solid rgb(174, 0, 27);
    border-radius: 1vh;
    /* background: rgb(255, 71, 48); */
    color: rgb(156, 163, 175);
    -webkit-text-stroke: 0.1vh black;
}

.hp {
    left: 0;
    top: 26vh;
    width: 20vh;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.3vh solid rgb(174, 0, 27);
    border-radius: 1vh;
    /* background: rgb(255, 71, 48); */
    color: rgb(156, 163, 175);
    -webkit-text-stroke: 0.1vh black;
}

.power {
    left: 0;
    top: 34vh;
    width: 20vh;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.3vh solid rgb(174, 0, 27);
    border-radius: 1vh;
    /* background: rgb(255, 71, 48); */
    color: rgb(156, 163, 175);
    -webkit-text-stroke: 0.1vh black;
}

.speed {
    left: 0;
    top: 42vh;
    width: 20vh;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.3vh solid rgb(174, 0, 27);
    border-radius: 1vh;
    /* background: rgb(255, 71, 48); */
    color: rgb(156, 163, 175);
    -webkit-text-stroke: 0.1vh black;
}

.money {
    left: 0;
    top: 50vh;
    width: 20vh;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.3vh solid rgb(174, 0, 27);
    border-radius: 1vh;
    /* background: rgb(255, 71, 48); */
    color: rgb(156, 163, 175);
    -webkit-text-stroke: 0.1vh black;
}

.mob__dictionary_bt {
    left: 0;
    top: 58vh;
    width: 20vh;
    height: 9vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.3vh solid rgb(174, 0, 27);
    border-radius: 1vh;
    /* background: rgb(255, 71, 48); */
    color: rgb(156, 163, 175);
    -webkit-text-stroke: 0.1vh black;
    cursor: url('../image/cursor/pointer.png') 30 0, pointer;
}

.mob__dictionary {
    top: 15vh;
    left: 25vh;
    width: 90vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    z-index: 20;
}

.mob__dictionary_inner {
    display: flex;
    gap: 3.5vh;
    transition: transform 0.5s ease;
}

.mob__dictionary_card {
    width: 20vh;
    background: white;
    border: 0.1vh solid;
    flex-shrink: 0;
}

.mob__dictionary_title {
    height: 20vh;
    width: 20vh;
}

.mob__dictionary_body {
    padding-top: 3vh;
    width: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    word-break: keep-all;
}

.mob__prev_bt {
    width: 10vh;
    height: 10vh;
    font-size: 5vh;
    top: 3vh;
    left: 30vh;
    z-index: 21;
    border-radius: 100vh;
    background: white;
}

.mob__list_bt {
    width: 25vh;
    top: 3vh;
    left: 57vh;
    font-size: 5vh;
    padding: 1vh;
    border-radius: 1vh;
    background: white;
    text-align: center;
}

.mob__next_bt {
    width: 10vh;
    height: 10vh;
    font-size: 5vh;
    top: 3vh;
    left: 100vh;
    z-index: 21;
    border-radius: 100vh;
    background: white;
}

.weapon__dictionary_bt {
    left: 0;
    top: 68vh;
    width: 20vh;
    height: 9vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.3vh solid rgb(174, 0, 27);
    border-radius: 1vh;
    /* background: rgb(255, 71, 48); */
    color: rgb(156, 163, 175);
    -webkit-text-stroke: 0.1vh black;
    cursor: url('../image/cursor/pointer.png') 30 0, pointer;
}

.weapon__dictionary {
    top: 65vh;
    left: 25vh;
    width: 90vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    z-index: 20;
}

.weapon__dictionary_inner {
    display: flex;
    gap: 3.5vh;
    transition: transform 0.5s ease;
}

.weapon__dictionary_card {
    width: 20vh;
    background: white;
    border: 0.1vh solid;
    flex-shrink: 0;
}

.weapon__dictionary_title {
    height: 20vh;
    width: 20vh;
}

.weapon__dictionary_body {
    padding-top: 3vh;
    width: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    word-break: keep-all;
}

.weapon__prev_bt {
    width: 10vh;
    height: 10vh;
    font-size: 5vh;
    top: 53vh;
    left: 30vh;
    z-index: 21;
    border-radius: 100vh;
    background: white;
}

.weapon__list_bt {
    width: 25vh;
    top: 53vh;
    left: 57vh;
    font-size: 5vh;
    padding: 1vh;
    border-radius: 1vh;
    background: white;
    text-align: center;
}

.weapon__next_bt {
    width: 10vh;
    height: 10vh;
    font-size: 5vh;
    top: 53vh;
    left: 100vh;
    z-index: 21;
    border-radius: 100vh;
    background: white;
}

.weapon {
    left: 0;
    top: 78vh;
    width: 20vh;
    height: 20vh;
    border: 0.3vh solid rgb(174, 0, 27);
    border-radius: 1vh;
    /* background: rgb(255, 71, 48); */
    color: rgb(156, 163, 175);
    -webkit-text-stroke: 0.1vh black;
    position: relative;
}

.weapon_img {
    left: 5vh;
    top: 7vh;
    width: 10vh;
    height: 10vh;
    border-radius: 10vh 0 10vh 0;
}

.weaponUpgrade_count {
    left: 12vh;
    bottom: 0.5vh;
}

.upgrade-10 {
    box-shadow: 0 0 1.5vh 0.5vh rgba(255, 255, 255, 0.7),
    inset 0 0 1.5vh 0.5vh rgba(255, 255, 255, 0.7);
}

.upgrade-20 {
    box-shadow: 0 0 1.5vh 0.5vh rgba(150, 150, 150, 0.7),
    inset 0 0 1.5vh 0.5vh rgba(150, 150, 150, 0.7);
}

.upgrade-30 {
    box-shadow: 0 0 1.5vh 0.5vh rgba(163, 73, 164, 0.7),
    inset 0 0 1.5vh 0.5vh rgba(163, 73, 164, 0.7);
}

.upgrade-40 {
    box-shadow: 0 0 1.5vh 0.5vh rgba(63, 72, 204, 0.7),
    inset 0 0 1.5vh 0.5vh rgba(63, 72, 204, 0.7);
}

.upgrade-50 {
    box-shadow: 0 0 1.5vh 0.5vh rgba(0, 162, 232, 0.7),
    inset 0 0 1.5vh 0.5vh rgba(0, 162, 232, 0.7);
}

.upgrade-60 {
    box-shadow: 0 0 1.5vh 0.5vh rgba(34, 177, 76, 0.7),
    inset 0 0 1.5vh 0.5vh rgba(34, 177, 76, 0.7);
}

.upgrade-70 {
    box-shadow: 0 0 1.5vh 0.5vh rgba(224, 224, 64, 0.7),
    inset 0 0 1.5vh 0.5vh rgba(224, 224, 64, 0.7);
}

.upgrade-80 {
    box-shadow: 0 0 1.5vh 0.5vh rgba(255, 127, 39, 0.7),
    inset 0 0 1.5vh 0.5vh rgba(255, 127, 39, 0.7);
}

.upgrade-90 {
    box-shadow: 0 0 1.5vh 0.5vh rgba(224, 0, 64, 0.7),
    inset 0 0 1.5vh 0.5vh rgba(224, 0, 64, 0.7);
}

.weapon_img_text {
    position: absolute;
    display: none;
    bottom: 7vh;
    left: 10vh;
    padding: 1vh 5vh;
    background: white;
    font-size: 5vh;
    z-index: 20;
    text-align: center;
    border: 0.1vh solid;
    pointer-events: none;
    color: black;
}

.weapon_img_text div {
    border-bottom: 0.5vh solid;
}

.weapon:hover > .weapon_img_text {
    display: inline-block;
    white-space: nowrap;
}

/* 풋(채팅) */
.chat {
    left: 101vh;
    bottom: 1vh;
    width: 41vh;
    height: 82.5vh;
    color: white;
    border: 0.3vh solid rgb(174, 0, 27);
    border-top-left-radius: 1vh;
    border-bottom-left-radius: 1vh;
    overflow: auto;
}

.who_chat {
    padding-left: 1vh;
    width: 30vh;
    text-align: left;
    margin-right: auto;
}

.my_chat {
    padding-right: 1vh;
    width: 30vh;
    text-align: right;
    margin-left: auto;
}

.chat_writer {
    font-size: 1vh;
}

.chat_body {
    font-size: 2vh;
    word-break: keep-all;
}

.chat_var {
    width: 32vh;
    left: 101vh;
    top: 11vh;
    color: white;
    border: 0.3vh solid rgb(174, 0, 27);
    border-radius: 1vh;
    background: inherit;
}

.chat_bt {
    width: 8vh;
    left: 134vh;
    top: 11vh;
    border: 0.3vh solid rgb(174, 0, 27);
    border-radius: 1vh;
    /* background: rgb(255, 71, 48); */
    color: rgb(156, 163, 175);
    -webkit-text-stroke: 0.1vh black;
    cursor: url('../image/cursor/pointer.png') 30 0, pointer;
}

/* 인게임 맵 */
.guide1 {
    top: 30vh;
    left: 15vh;
    width: 30vh;
    padding: 1vh;
    border: 0.3vh solid rgba(156, 163, 175);
    border-radius: 1vh;
}

.guide2 {
    top: 30vh;
    left: 55vh;
    width: 30vh;
    padding: 1vh;
    border: 0.3vh solid rgba(156, 163, 175);
    border-radius: 1vh;
}

.profile {
    top: 0.5vh;
    left: 101vh;
    gap: 1vh;
    position: absolute;
}

.profile-container {
    display: flex;
    width: 25vh;
    height: 9vh;
    background: rgb(0, 0, 30);
    color: rgb(156, 163, 175);
    border: 0.3vh solid rgb(174, 0, 27);
    border-radius: 1vh;
    z-index: 50;
}

.profile-img {
    height: 7.5vh;
    margin: 0.5vh;
    border-radius: 0.5vh;
    background: #FFFFFF;
}

.profile-nickname {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    align-items: center;
    font-size: 2vh;
    margin: 0.5vh;
}

.timer {
    top: 1vh;
    left: 127vh;
    width: 15vh;
    height: 9vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.3vh solid rgb(174, 0, 27);
    border-radius: 1vh;
    /* background: rgb(255, 71, 48); */
    color: rgb(156, 163, 175);
    -webkit-text-stroke: 0.1vh black;
    font-size: 2.5vh;
}

.front_charac {
    left: 10vh;
    top: 44vh; /* 44.1 */
    width: 10vh;
    height: 10vh;
}

.front_charac_img {
    width: 10vh;
    height: 10vh;
}

@keyframes move_action1 {
    0% {
        transform: translate(0);
    }
    20% {
        transform: translate(-1vh, 1vh);
    }
    40% {
        transform: translate(-1vh, -1vh);
    }
    60% {
        transform: translate(1vh, 1vh);
    }
    80% {
        transform: translate(1vh, -1vh);
    }
    100% {
        transform: translate(0);
    }
}

@keyframes move_action-1 {
    0% {
        transform: translate(0) scaleX(-1);
    }
    20% {
        transform: translate(-1vh, 1vh) scaleX(-1);
    }
    40% {
        transform: translate(-1vh, -1vh) scaleX(-1);
    }
    60% {
        transform: translate(1vh, 1vh) scaleX(-1);
    }
    80% {
        transform: translate(1vh, -1vh) scaleX(-1);
    }
    100% {
        transform: translate(0) scaleX(-1);
    }
}

.characHP_bar1, .characHP_bar2, .characHP_bar3, .characHP_bar4, .characHP_bar5, .characHP_bar6, .characHP_bar7, .characHP_bar8, .characHP_bar9, .characHP_bar0, .mob2HP_bar, .mob3HP_bar, .mob4HP_bar, .mob5HP_bar {
    top: -2vh;
    left: 1vh;
    height: 1vh;
    width: 0;
    transition: width 0.5s ease;
}

.characHP_bar_text {
    top: -2vh;
    left: 1vh;
    height: 1vh;
    width: 8vh;
    text-align: right;
    font-size: 0.7vh;
    padding-right: 0.1vh;
    z-index: 30;
}

.damage1 {
    bottom: 10vh;
    left: 0;
    width: 10vh;
    text-align: center;
    color: blue;

}

.damage2, .damage3, .damage4, .damage5 {
    bottom: 10vh;
    left: 0;
    width: 10vh;
    text-align: center;
    color: red;
}

.damage6 {
    bottom: 20vh;
    left: 0;
    width: 20vh;
    text-align: center;
    color: red;
}

.gold {
    width: 2vh;
    position: absolute;
}

.goldDrop-1 {
    animation: goldDrop1 2s linear;
}

.goldDrop-2 {
    animation: goldDrop2 2s linear;
}

.goldDrop-3 {
    animation: goldDrop3 2s linear;
}

.goldDrop-4 {
    animation: goldDrop4 2s linear;
}

@keyframes goldDrop1 {
    0% {
        bottom: 0;
        left: 50%;
    }
    20% {
        bottom: 10%;
        left: 60%;
    }
    30% {
        bottom: 20%;
        left: 70%;
    }
    40% {
        bottom: 30%;
        left: 90%;
    }
    50% {
        bottom: 40%;
        left: 110%;
    }
    60% {
        bottom: 30%;
        left: 120%;
    }
    70% {
        bottom: 20%;
        left: 140%;
    }
    80% {
        bottom: 10%;
        left: 160%;
    }
    90% {
        bottom: 0;
        left: 180%;
    }
    100% {
        bottom: 0;
        left: 180%;
    }
}

@keyframes goldDrop2 {
    0% {
        bottom: 0;
        right: 50%;
    }
    36% {
        bottom: 10%;
        right: 60%;
    }
    44% {
        bottom: 20%;
        right: 70%;
    }
    52% {
        bottom: 30%;
        right: 90%;
    }
    60% {
        bottom: 40%;
        right: 110%;
    }
    68% {
        bottom: 30%;
        right: 120%;
    }
    76% {
        bottom: 20%;
        right: 140%;
    }
    84% {
        bottom: 10%;
        right: 160%;
    }
    92% {
        bottom: 0;
        right: 180%;
    }
    100% {
        bottom: 0;
        right: 180%;
    }
}

@keyframes goldDrop3 {
    0% {
        bottom: 0;
        left: 50%;
    }
    32% {
        bottom: 20%;
        left: 70%;
    }
    44% {
        bottom: 40%;
        left: 90%;
    }
    52% {
        bottom: 60%;
        left: 110%;
    }
    60% {
        bottom: 80%;
        left: 120%;
    }
    68% {
        bottom: 70%;
        left: 140%;
    }
    76% {
        bottom: 60%;
        left: 160%;
    }
    84% {
        bottom: 50%;
        left: 180%;
    }
    92% {
        bottom: 40%;
        left: 200%;
    }
    100% {
        bottom: 40%;
        left: 200%;
    }
}

@keyframes goldDrop4 {
    0% {
        bottom: 0;
        right: 50%;
    }
    20% {
        bottom: 20%;
        right: 70%;
    }
    30% {
        bottom: 40%;
        right: 90%;
    }
    40% {
        bottom: 60%;
        right: 110%;
    }
    50% {
        bottom: 80%;
        right: 120%;
    }
    60% {
        bottom: 70%;
        right: 140%;
    }
    70% {
        bottom: 60%;
        right: 160%;
    }
    80% {
        bottom: 50%;
        right: 180%;
    }
    90% {
        bottom: 40%;
        right: 200%;
    }
    100% {
        bottom: 40%;
        right: 200%;
    }
}

/* [class^='attack'] {
    left: 4vh;
    top: 4vh;
    transition: top 0.5s ease, left 0.5s ease, right 0.5s ease, bottom 0.5s ease;
} */
.attackSize {
    width: 2vh;
    height: 2vh;
}

.attack1, .attack2, .attack3, .attack4, .attack5 {
    left: 4vh;
    top: 4vh;
    transition: top 0.5s ease, left 0.5s ease, right 0.5s ease, bottom 0.5s ease;
}

.attack6 {
    left: 9vh;
    top: 9vh;
    transition: top 0.5s ease, left 0.5s ease, right 0.5s ease, bottom 0.5s ease;
}

.meleeAttack2, .meleeAttack3, .meleeAttack4, .meleeAttack5 {
    left: -2vh;
    top: 0;
    height: 10vh;
}

.meleeAttack6 {
    left: -4vh;
    top: 0;
    height: 20vh;
}

.bombAttack2, .bombAttack3, .bombAttack4, .bombAttack5 {
    left: 2vh;
    bottom: 0.5vh;
    height: 6vh;
}

.bombAttack6 {
    left: 4vh;
    bottom: 1vh;
    height: 12vh;
}

.boom-attack-bg2, .boom-attack-bg3, .boom-attack-bg4, .boom-attack-bg5 {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: -10vh;
    top: -10vh;
    height: 30vh;
    width: 30vh;
}

.boom-attack-bg6 {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: -20vh;
    top: -20vh;
    height: 60vh;
    width: 60vh;
}

.boom-attack2-1, .boom-attack3-1, .boom-attack4-1, .boom-attack5-1 {
    height: 6vh;
    opacity: 0.8;
}

.boom-attack6-1 {
    height: 12vh;
    opacity: 0.8;
}

.boom-attack2-2, .boom-attack3-2, .boom-attack4-2, .boom-attack5-2 {
    height: 6vh;
    opacity: 0.1;
}

.boom-attack6-2 {
    height: 12vh;
    opacity: 0.1;
}

.beamAttack2, .beamAttack3, .beamAttack4, .beamAttack5 {
    position: absolute;
    width: 0;
    height: 6vh;
    opacity: 0.7;
}

.beamAttack6 {
    position: absolute;
    width: 0;
    height: 12vh;
    opacity: 0.8;
}

@keyframes rotate3dSpinLeft {
    0% {
        transform: rotate3d(1, 0, 0, 0deg);
    }
    50% {
        transform: rotate3d(1, 0, 0, 360deg);
    }
    100% {
        transform: rotate3d(1, 0, 0, 0deg);
    }
}

@keyframes rotate3dSpinRight {
    0% {
        transform: scaleX(-1) rotate3d(1, 0, 0, 0deg);
    }
    50% {
        transform: scaleX(-1) rotate3d(1, 0, 0, 360deg);
    }
    100% {
        transform: scaleX(-1) rotate3d(1, 0, 0, 0deg);
    }
}

.hidden-weapon-attack-bg {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vh;
    height: 100vh;
}

.hidden-weapon-attack-bg img {
    width: 12.4vh;
    height: 12.4vh;
    opacity: 0.8;
}

.hidden-attack1 {
    animation: swing1 1s ease-in-out infinite, fadeInOut1 2s ease-in-out infinite;
    transform-origin: bottom;
}

.hidden-attack2 {
    animation: swing2 1s ease-in-out infinite, fadeInOut1 2s ease-in-out infinite;
    transform-origin: bottom;
}

.hidden-attack3 {
    animation: swing1 1s ease-in-out infinite, fadeInOut2 2s ease-in-out infinite;
    transform-origin: bottom;
}

.hidden-attack4 {
    animation: swing2 1s ease-in-out infinite, fadeInOut2 2s ease-in-out infinite;
    transform-origin: bottom;
}

@keyframes swing1 {
    0% { transform: rotate(0deg); }
    30% { transform: rotate(5deg); }
    70% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
}

@keyframes swing2 {
    0% { transform: rotate(0deg); }
    30% { transform: rotate(-5deg); }
    70% { transform: rotate(5deg); }
    100% { transform: rotate(0deg); }
}

@keyframes fadeInOut1 {
    0% { opacity: 0.3; }
    30% { opacity: 0.8; }
    50% { opacity: 0.8; }
    70% { opacity: 0.8; }
    100% { opacity: 0.3; }
}

@keyframes fadeInOut2 {
    0% { opacity: 0.8; }
    30% { opacity: 0.3; }
    50% { opacity: 0.8; }
    70% { opacity: 0.3; }
    100% { opacity: 0.8; }
}


/* 가로(width)가 세로(height) 이상일 때 */
@media (min-aspect-ratio: 1625/1000) {
    .hidden-weapon-attack-bg {
        left: 50%;
        transform: translateX(-50vh);
    }
}

.front_mob, .front_bossMob {
    position: absolute;
    overflow: visible;
}

.front_mob_img {
    width: 10vh;
    height: 10vh;
    border-radius: 1vh;
    opacity: 0.9;
}

.front_bossMob_img {
    width: 20vh;
    height: 20vh;
    border-radius: 2vh;
}

.item {
    top: 45vh;
    left: 75vh;
    width: 10vh;
    height: 10vh;
}

.random_item {
    top: 75vh;
    left: 45vh;
    width: 10vh;
    height: 10vh;
}

.random_item_effect {
    top: 74vh;
    left: 44vh;
    width: 12vh;
    height: 12vh;
    border-radius: 10vh;
    box-shadow: 0 0 1.5vh 0.5vh rgba(0, 0, 0, 0.1);
}

/* 게임오버화면 */
.over {
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vh;
}

.over_bt {
    font-size: 15vh;
    -webkit-text-stroke: 0.05vh white;
    padding: 25vh;
}

.item_text, .random_item_text, .alert {
    top: 40vh;
    left: 25vh;
    height: 20vh;
    width: 50vh;
    border: 0.3vh solid rgb(174, 0, 27);
    border-radius: 1vh;
    background: rgb(0, 0, 30);
    color: rgb(156, 163, 175);
    -webkit-text-stroke: 0.1vh black;
}

.item_text > div, .item_text > button {
    z-index: 20;
}

.item_title {
    top: 5vh;
    left: 3vh;
}

.item_subtitle {
    top: 10.5vh;
    width: 100%;
    text-align: center;
    font-size: 2vh;
}

.item_change {
    top: 14vh;
    left: 4vh;
    width: 10vh;
    text-align: center;
    border: 0.3vh solid rgb(174, 0, 27);
    border-radius: 1vh;
}

.item_get {
    top: 14vh;
    left: 4vh;
    width: 10vh;
    text-align: center;
    border: 0.3vh solid rgb(174, 0, 27);
    border-radius: 1vh;
}

.item_mix {
    top: 14vh;
    left: 19vh;
    width: 10vh;
    text-align: center;
    border: 0.3vh solid rgb(174, 0, 27);
    border-radius: 1vh;
}

.alert_title {
    padding: 1vh;
    width: 49.5vh;
    height: 14vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item_exit, .alert_exit {
    top: 14vh;
    left: 35vh;
    width: 10vh;
    text-align: center;
    border: 0.3vh solid rgb(174, 0, 27);
    border-radius: 1vh;
    cursor: url('../image/cursor/pointer.png') 30 0, pointer;
}

.bossHP {
    top: 0.5vh;
    left: 15vh;
}

.bossHP_title {
    font-size: 5vh;
    display: inline-block;
    -webkit-text-stroke: 0.05vh white;
}

.bossHP_bar {
    height: 5vh;
    width: 50vh;
    background: red;
    display: inline-block;
}

/* 몬스터 도감 */
.dictionary_exit_bt {
    top: 1vh;
    left: 127vh;
    width: 15vh;
    height: 9vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.3vh solid rgb(174, 0, 27);
    border-radius: 1vh;
    /* background: rgb(255, 71, 48); */
    color: rgb(156, 163, 175);
    -webkit-text-stroke: 0.1vh black;
}

.mob__dictionary_title {
    top: 0;
    left: 20vh;
    width: 60vh;
    font-size: 6vh;
    text-align: center;
    -webkit-text-stroke: 0.1vh white;
}

.mob__dictionary2 {
    top: 10vh;
    left: 10vh;
    height: 80vh;
    width: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.mob__dictionary_inner2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.mob__dictionary_inner2 > * {
    flex: 0 0 calc(10% - 0.5vh);
    box-sizing: border-box;
}

.mob__dictionary_card2 {
    height: 10vh;
    width: 7vh;
    background: white;
    border: 0.1vh solid;
    flex-shrink: 0;
    position: relative;
}

.mob__dictionary_title2 {
    padding: 0.5vh;
}

.mob__dictionary_body2 {
    display: flex;
    font-size: 0.8vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    word-break: keep-all;
}

/* 무기 도감 */
.weapon__dictionary_title {
    top: 0;
    left: 20vh;
    width: 60vh;
    font-size: 6vh;
    text-align: center;
    -webkit-text-stroke: 0.1vh white;
}

.weapon__dictionary2 {
    top: 10vh;
    left: 10vh;
    height: 80vh;
    width: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.weapon__dictionary_inner2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.weapon__dictionary_inner2 > * {
    flex: 0 0 calc(10% - 0.5vh);
    box-sizing: border-box;
    margin-bottom: 1.65vh;
}

.weapon__dictionary_card2 {
    height: 10vh;
    width: 7vh;
    background: white;
    border: 0.1vh solid;
    flex-shrink: 0;
    position: relative;
}

.weapon__dictionary_title2 {
    height: 7vh;
    width: 7vh;
    padding: 0.5vh;
}

.weapon__dictionary_body2 {
    display: flex;
    font-size: 1vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    word-break: keep-all;
}

.dictionary_body_text {
    display: none;
    top: 3vh;
    left: 3vh;
    padding: 1vh;
    background: white;
    font-size: 2vh;
    z-index: 20;
    text-align: center;
    border: 0.1vh solid;
    pointer-events: none;
}

.dictionary_body_text div {
    border-bottom: 0.1vh solid;
}

.weapon__dictionary_card2:hover > .dictionary_body_text, .mob__dictionary_card2:hover > .dictionary_body_text {
    display: inline-block;
    white-space: nowrap;
}

/* 메뉴바 */
/* 알림 */
.main-notify {
    position: absolute;
    top: 28.8vh;
    right: 1vh;
    cursor: url('../image/cursor/pointer.png') 30 0, pointer;
}

.main-notify img {
    height: 6.7vh;
}

/* 달력 */
.daily-check-image {
    position: absolute;
    top: 31vh;
    right: 8vh;
    cursor: url('../image/cursor/pointer.png') 30 0, pointer;
    transition: transform 0.3s ease;
}

.daily-check-image img {
    height: 4.5vh;
    transition: transform 0.3s ease;
}

.daily-check-image:hover img {
    transform: scale(1.2) rotate(10deg);
}

/* 배경 */
.menu-bg {
    position: absolute;
    top: 35vh;
    right: 1vh;
    z-index: 50;
}

/* 전체 */
.menu-container {
    display: flex;
}

ul li:first-child {
    margin-top: 0.5vh;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 0.1vh;
}

.submenu {
    display: none;
    flex-direction: column;
    gap: 0.5vh;
}

/* 메뉴 항목 스타일 */
li button, li a, li a div, li div {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    cursor: url('../image/cursor/pointer.png') 30 0, pointer;
}

/* 메뉴 항목 hover 시 테두리 효과 */
.menu-item:hover, .submenu-item:hover {
    transform: scale(1.1);
}

/* 서브메뉴가 표시되도록 */
.submenu-container:hover .submenu {
    display: flex;
}

.menu-item:focus, .submenu-item:focus {
    outline: none;
}

.motivation_wrapper {
    width: 100vh;
    height: 4.5vh;
    overflow: hidden;
    position: absolute;
    z-index: 50;
}

.motivation_container {
    position: absolute;
    white-space: nowrap;
    animation: slide 15s infinite linear;
    color: white;
    padding: 0 5vh;
    border-radius: 5vh;
    background: rgb(0, 0, 30);
}

@keyframes slide {
    0% {
        transform: translateX(100vh);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* 가로(width)가 세로(height) 이상일 때 */
@media (min-aspect-ratio: 1625/1000) {
    .motivation_wrapper {
        left: 50%;
        transform: translateX(-50vh);
    }
}

.chatBot {
    position: absolute;
    left: 0;
    bottom: 1vh;
    height: 15vh;
    cursor: url('../image/cursor/pointer.png') 30 0, pointer;
    transform: scaleX(-1);
}

/* 마우스 이펙트 */
html, body {
  cursor: url('../image/cursor/default.png'), auto;
}

body > * {
  cursor: inherit;
}

a, button {
  cursor: url('../image/cursor/pointer.png') 30 0, pointer;
}

button:active {
  cursor: url('../image/cursor/pointer.png') 30 0, pointer;
}

input, textarea {
  cursor: url('../image/cursor/text.png'), text;
}