@charset "UTF-8";

/* 공용 */
html > body, button, input, select {
    font-family: Galmuri11, serif;
    font-weight: 800;
    font-size: 2.8vh;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

input:focus {
    -webkit-user-modify: read-write-plaintext-only;
    user-modify: read-write-plaintext-only;
}

.head {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1vh;
    width: 100%;
}

.head-line {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 10vh;
    height: 10vh;
}

.body {
    width: 100vh;
    position: relative;
}

/* 가로(width)가 세로(height) 이상일 때 */
@media (min-aspect-ratio: 1625/1000) {
    .body {
        left: 50%;
        transform: translateX(-50vh);
    }
}

img {
    /* mix-blend-mode: multiply; */
    /* opacity: 0.9; */

}

body {
    background: rgb(0, 0, 30);
}

input {
    padding-left: 1vh !important;
    /* background-color: transparent; */
}

input::placeholder {
    color: black !important;
}

input::-webkit-input-placeholder { /* 크롬, 사파리, 오페라 */
    color: black;
}

input:-ms-input-placeholder { /* 인터넷 익스플로러 10-11 */
    color: black;
}

input::-ms-input-placeholder { /* 엣지 */
    color: black;
}

input::-moz-placeholder { /* 파이어폭스 19+ */
    color: black;
}

input:-moz-placeholder { /* 파이어폭스 4-18 */
    color: black;
}

.s-button {
    text-align: center;
    border: 0.3vh solid;
    padding: 0.2vh 1vh;
    border-radius: 1vh;
    background: rgb(255, 71, 48);
    cursor: pointer;
}

.button {
    text-align: center;
    width: 20vh;
    border: 0.3vh solid;
    padding: 0.7vh;
    border-radius: 1vh;
    background: rgb(255, 71, 48);
    cursor: pointer;
}

.link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.bg_img {
    width: 100vh;
    height: 100vh;
}

.bo {
    border: 1vh solid red;
}

/* 정원 화면 */
.garden_bg {
    top: 12vh;
    left: 2vh;
    width: 96vh;
    height: 86vh;
    border-radius: 3vh;
}

.garden_title {
    top: 8vh;
    left: 5vh;
    width: 82vh;
    font-size: 6.4vh;
    -webkit-text-stroke: 0.1vh white;
}

.money {
    top: 19vh;
    right: 3vh;
    border: 0.3vh solid;
    padding: 0.5vh 1vh;
    background: rgb(255, 71, 48);
    border-radius: 1vh;
}

.garden-container {
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 25vh;
    left: 1vh;
    width: 92vh;
    height: 60vh;
    padding: 1vh;
    gap: 2vh;
    border: 0.3vh solid;
    background: rgb(255, 71, 48);
    border-radius: 3vh;
}

.plant-section {
    display: grid;
    grid-template-columns: repeat(3, 18vh);
    gap: 1vh;
}

.plant-slot {
    display: flex;
    gap: 2vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;

    width: 18vh;
    height: 18vh;
    background: #FFFFFF;
    border-radius: 3vh;
}

.s-button, .plant-name {
    display: none;
    font-size: 2.5vh;
    text-align: center;
    z-index: 5;
    word-break: keep-all;
}

.plant-slot:hover .s-button, .plant-slot:hover .plant-name {
    display: block;
}

.info-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 5vh;
}

.time-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3vh;
    gap: 2vh;
}

.clock {
    width: 18vh;
    height: 18vh;
    border: 1vh solid rgb(174, 0, 27);
    border-radius: 100%;
    position: relative;
    background: #fff;
}

.clock-hour, .clock-minute, .clock-second {
    position: absolute;
    transform-origin: 50% 100%;
    bottom: 50%;
    background: rgb(174, 0, 27);
    border-top-right-radius: 2vh;
    border-top-left-radius: 2vh;
}

.clock-pattern1 {
    position: absolute;
    top: 1vh;
    left: 50%;
    transform: translateX(-50%);
    width: 1vh;
    height: 14vh;
    border-top: 0.5vh solid rgb(174, 0, 27);
    border-bottom: 0.5vh solid rgb(174, 0, 27);
}

.clock-pattern2 {
    position: absolute;
    top: 50%;
    left: 1vh;
    transform: translateY(-50%);
    width: 14vh;
    height: 1vh;
    border-left: 0.5vh solid rgb(174, 0, 27);
    border-right: 0.5vh solid rgb(174, 0, 27);
}

.clock-pattern3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1vh;
    height: 1vh;
    background: rgb(174, 0, 27);
    border-radius: 100%;
}

.clock-hour {
    height: 5vh;
    width: 0.5vh;
    left: calc(50% - 0.25vh);
    z-index: 2;
}

.clock-minute {
    height: 7vh;
    width: 0.5vh;
    left: calc(50% - 0.25vh);
    z-index: 1;
}

.clock-second {
    height: 7vh;
    width: 0.2vh;
    left: calc(50% - 0.1vh);
    z-index: 3;
}

.plant-img {
    position: absolute;
    top: 0;
    left: 0;
    animation: swing 2s ease-in-out infinite;
    transform-origin: bottom;
}

@keyframes swing {
    0% {
        transform: rotate(0deg);
    }
    30% {
        transform: rotate(5deg);
    }
    70% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

/* 팝업 */
.popup-bg {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    background: rgb(0, 0, 30, 0.7);
    z-index: 5;
}

.popup-box {
    position: relative;
    display: flex;
    flex-direction: column;
    background: rgb(255, 71, 48);
    gap: 1vh;
    padding: 2vh;
    border-radius: 3vh;
    width: 66vh;
}

.popup-title {
    border-bottom: 3px solid rgb(0, 0, 30);
    padding: 0 0 2vh 1vh;
}

.close-button {
    position: absolute;
    top: 1.5vh;
    right: 2.5vh;
    cursor: pointer;
}

.popup-form-container {
    display: flex;
    gap: 1vh;
    padding: 3vh 0;
    flex-wrap: wrap;
}

.popup-form-container img {
    width: 20vh;
    height: 20vh;
    padding: 3vh;
    border-radius: 3vh;
    background: #FFFFFF;
}

.plant-buy-button {
    position: relative;
}

.plant-buy-button:hover .plant-name {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 20vh;
    height: 20vh;
    border-radius: 3vh;
    background: rgba(255, 255, 255, 0.7);
}