/* 공용 */
html > body, button, input, select {
    font-family: Galmuri11, serif;
    font-weight: 800;
    margin: 0;
    padding: 0;
    font-size: 30px;
}

html > body, button {
    color: white;
}

input, select, option, textarea {
    color: black !important;
}

option {
    text-align: center;
}

input:focus {
    -webkit-user-modify: read-write-plaintext-only;
    user-modify: read-write-plaintext-only;
}

body {
    background: rgb(0, 0, 30);
}

.head {
    position: absolute;
    width: 100%;
    min-width: 900px;
    padding: 10px;
    z-index: 2;
}

.head-line {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;
    position: relative;
}

.body {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 120px;
    width: 1440px;
    gap: 10px;
}

@media (min-width: 1440px) {
    .head-line, .body {
        left: 50%;
        transform: translateX(-720px);
    }
}

.link:hover {
    text-decoration: underline;
    cursor: pointer;
}

input {
    padding-left: 10px !important;
    /* background-color: transparent; */
}

input::placeholder {
    color: black !important;
}

input::-webkit-input-placeholder { /* 크롬, 사파리, 오페라 */
    color: black;
}

input:-ms-input-placeholder { /* 인터넷 익스플로러 10-11 */
    color: black;
}

input::-ms-input-placeholder { /* 엣지 */
    color: black;
}

input::-moz-placeholder { /* 파이어폭스 19+ */
    color: black;
}

input:-moz-placeholder { /* 파이어폭스 4-18 */
    color: black;
}

.border {
    border: 3px solid rgb(174, 0, 27) !important;
    border-radius: 10px !important;
}

.logo {
    display: inline-block;
    width: 100px;
    height: 100px;
}

.title {
    font-size: 50px;
}

.button {
    display: inline-block;
    text-align: center;
    width: 180px;
    border: 0.3vh solid;
    padding: 7px;
    background: rgb(255, 71, 48);
    border-radius: 10px;
    color: black;
}

/* 메뉴바 */
.menu-bg {
    z-index: 2;
}

/* 전체 */
.menu-container {
    display: flex;
}

ul li:first-child {
    margin-top: 5px;
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.submenu {
    display: none;
    flex-direction: column;
    gap: 5px;
}

/* 메뉴 항목 스타일 */
li button, li a, li a div {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    cursor: pointer;
}

/* 메뉴 항목 hover 시 테두리 효과 */
.menu-item:hover, .submenu-item:hover {
    transform: scale(1.1);
}

/* 서브메뉴가 표시되도록 */
.submenu-container:hover .submenu {
    display: flex;
}

.menu-item:focus, .submenu-item:focus {
    outline: none;
}

/* 메인 */
.profile-container {
    display: flex;
    width: 100%;
    text-align: center;
    gap: 10px;
}

.profile-details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
}

.profile {
    display: flex;
    width: 350px;
    justify-content: center;
    align-items: center;
}

.logout {
    height: 146px;
}

.profile-photo img, .post-thumbnail img {
    height: 120px;
    width: 120px;
    margin: 10px;
    background: #fff;
    border-radius: 10px;
}

.boardName {
    width: 100px;
    text-align: center;
}

.board-description {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px 0 50px;
}

.written-posts-link {
    font-size: 20px;
}

.post-header {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.post-details {
    padding: 0 50px;
    flex-grow: 1;
}

.post-item {
    display: flex;
    gap: 10px;
}

.comment {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
}

.comment img {
    height: 50px;
}

.comment-count {
    position: absolute;
    top: 8px;
    font-size: 15px;
    z-index: 1;
}

.post-meta {
    display: flex;
    font-size: 20px;
    justify-content: end;
    gap: 40px;
}

.view-count, .like-count {
    display: flex;
    width: 90px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.post-time {
    display: flex;
    width: 180px;
}

/* 로그인 팝업 */
.login-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    background: rgb(0, 0, 30, 0.7);
    z-index: 3;
}

.login-box {
    display: flex;
    flex-direction: column;
    background: rgb(0, 0, 30);
    gap: 10px;
    padding: 20px;
}

.login-title {
    border-bottom: 3px solid rgb(174, 0, 27);
    padding: 0 0 20px 10px;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
}

.login-form-container {
    display: flex;
    gap: 10px;
    padding: 30px 0;
}

.login-inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.id, .pw {
    border-radius: 10px;
}

.join_bt {
    text-align: center;
}

/* 게시글 작성 */
.article-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.article-header {
    display: flex;
    gap: 50px;
}

#editor {
    background: #ffffff;
    color: black;
}

.article-body {
    font-family: Galmuri11, serif !important;
    font-weight: 800 !important;
    font-size: 30px !important;
    width: 1440px;
    height: 600px;
    padding: 10px;
}

.pagination {
    width: 1440px;
    bottom: 10px;
}

.pagination > a {
    padding: 5px;
    -webkit-text-stroke: 1px gray;
}

.pagination_left {
    position: absolute;
    top: 150px;
    left: -60px;
}

.pagination_right {
    position: absolute;
    top: 150px;
    right: -60px;
}

.page {
    height: 60px;
    width: 60px;
    text-align: center;
}

/* 게시글 상세 페이지 */
.article-actions {
    display: flex;
    flex-grow: 1;
    justify-content: end;
    gap: 50px;
}